<header class="header">
  <div class="header-container">
    <div class="logo-section">
      <a href="index.html">
        <img src="assets/img/favicon1.png" alt="Camnet Logo" class="logo" />
      </a>
      <div class="company-info">
        <a href="index.html" class="company-link">
          <h1 class="company-name">CAMNET</h1>
          <p class="company-desc">CAMERA NETWORK JOINT STOCK COMPANY</p>
        </a>
      </div>
    </div>
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="service.html">Dịch Vụ</a></li>
        <li><a href="camnet.html">Camnet</a></li>
        <li><a href="product.html">Sản Phẩm</a></li>
        <li><a href="project.html">Dự Án</a></li>
        <li><a href="contact.html">Liên Hệ</a></li>
      </ul>
    </nav>
  </div>
  <script src="../assets/js/nav-active.js"></script>
</header>
